<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="idtreino == null">Novo Treino</ion-title>
        <ion-title *ngIf="idtreino != null">Editando Treino</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <form
            [formGroup]="postagem"
            (ngSubmit)="postarTreino()"
        >

            <ion-input
                type="hidden"
                name="idtreino"
                [(ngModel)]="idtreino"
                value="{{idtreino}}"
                formControlName="idtreino"
            ></ion-input>

            <ion-item>
                <ion-label position="floating">Nome</ion-label>
                <ion-input
                    type="text"
                    name="titulo"
                    [(ngModel)]="titulo"
                    value="{{titulo}}"
                    formControlName="titulo"
                ></ion-input>
            </ion-item>

            <div style="margin-top: 40px;">
                <ion-button
                    type="submit"
                    expand="full"
                    color="danger"
                    *ngIf="idtreino == null"
                >
                    Próximo
                </ion-button>
                <ion-button
                    type="submit"
                    expand="full"
                    color="danger"
                    *ngIf="idtreino != null"
                >
                    Salvar Edição
                </ion-button>
            </div>
        </form>
    </ion-list>
</ion-content>
