<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <!-- {{exercicio.nometreino}} -->
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-card *ngFor="let exercicio of exercicioItem">
        <ion-card-header>
            <ion-card-title>{{ exercicio.titulo }}</ion-card-title>
        </ion-card-header>

        <ion-slides
            pager="true"
            [options]="slideOpts"
            class="slide"
        >
            <ion-slide>
                <div class="conteudo">
                    <ion-img
                        src="../../../assets/images/slide/slide3.gif"
                        class="img-slide"
                    ></ion-img>
                </div>
            </ion-slide>
        </ion-slides>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or
      spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>
</ion-content>
