<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Nossas Unidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let unidade of unidades" color="danger">
    <ion-card-header>
      <ion-card-title>{{ unidade.unidade }}</ion-card-title>
    </ion-card-header>
    <ion-img [src]="'http://localhost:8888/PROJETOS/projeto-anacampos/sistema/media/mini_' + unidade.foto"></ion-img>
    <ion-card-content>
      <ion-card-subtitle>Endereço:</ion-card-subtitle>
      <ion-card-title> {{ unidade.logradouro }}, {{ unidade.numero }} </ion-card-title>
      <ion-card-title>{{ unidade.bairro }}</ion-card-title>
      <ion-card-title>{{ unidade.cidade }} | {{ unidade.uf }}</ion-card-title>
      <ion-card-title></ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>
