<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Exercícios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let exercicio of exercicios">
    <ion-card-header>
      <ion-card-subtitle>Exercícios</ion-card-subtitle>
      <ion-card-title>{{ exercicio.titulo }}</ion-card-title>
    </ion-card-header>
    <!--- <ion-img [src]="serviceUrl.getUrl() + exercicio.foto"></ion-img>-->
    <ion-img
      [src]="
        'http://localhost:8888/PROJETOS/projeto-anacampos/sistema/media/mini_' + exercicio.foto
      "
    ></ion-img>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or
      spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-content>
