.total {
  background-color: rgb(239, 49, 55);
}
.slide {
  min-width: 100%;
  min-height: 100%;
  --bullet-background: #fff;
  --bullet-background-active: #fff;
  background-color: rgb(239, 49, 55);
}
.conteudo {
  min-width: 100%;
  padding: 5vh;
  background-color: rgb(239, 49, 55);
}
.img-slide {
  width: 45vh;
  height: 45vh;
  margin: auto;
}
.titulo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18pt;
  color: #fff;
}
.descricao {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18pt;
  color: #fff;
}
.evol {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18pt;
  color: #000;
}
