<ion-content>
  <ion-slides pager="true" [options]="slideOpts" class="slide">
    <ion-slide>
      <div class="conteudo">
        <p class="descricao">
          Bem vindo ao <span class="evol">aplicativo</span> da <strong>Evolução</strong>
        </p>
        <ion-img src="../../../assets/images/slide/slide1.gif" class="img-slide"></ion-img>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="conteudo">
        <p class="descricao">
          <strong>Você sabia?</strong> Agora você pode aprender a utilizar um
          <span class="evol">equipamento</span> aqui pelo app
        </p>
        <ion-img src="../../../assets/images/slide/slide2.gif" class="img-slide"></ion-img>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="conteudo">
        <p class="descricao">
          A Evolução se preocupa com o
          <span class="evol">planeta</span>, pensando nisso a sua ficha agora é
          <strong>digital</strong>
        </p>
        <ion-img src="../../../assets/images/slide/slide3.gif" class="img-slide"></ion-img>
        <ion-button (click)="toIntro()" color="light">
          continuar para o aplicativo
          <ion-icon slot="start" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
