<ion-content>
  <div class="fundo">
    <ion-list>
      <div class="logo">
        <ion-img src="../../../assets/images/evolucao_branco.png" class="img-slide"></ion-img>
      </div>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-icon name="person" color="danger" slot="start" position="floating"></ion-icon>
        <ion-label position="floating">Email </ion-label>
        <ion-input type="text" [(ngModel)]="email" autofocus="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock" color="danger" slot="start" position="floating"></ion-icon>
        <ion-label position="floating">Senha </ion-label>
        <ion-input type="password" [(ngModel)]="senha"></ion-input>
      </ion-item>
    </ion-list>
    <div>
      <ion-button expand="full" color="danger" (click)="logar()">
        Logar
      </ion-button>
    </div>
  </div>
</ion-content>
