<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Adicionar Exercícios ao Treino</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let exercicio of exercicios">
            <ion-label>{{exercicio.titulo}}</ion-label>
            <ion-checkbox
                color="dark"
                slot="end"
                [(ngModel)]="exercicio.isChecked"
            ></ion-checkbox>
        </ion-item>
    </ion-list>
    <div style="margin-top: 40px;;">
        <ion-button
            center
            type="submit"
            color="danger"
            shape="round"
            expand="full"
        >
            Salvar
        </ion-button>
    </div>
</ion-content>
