<ion-header>

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Meus treinos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher
        name="crescent"
        slot="fixed"
        (ionRefresh)="doRefresh($event)"
    >
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngFor="let treino of treinos">
        <ion-card *ngIf="treino.idusuario == serviceUserService.userId">
            <a href="visualizar-treino/{{treino.idtreino}}">
                <ion-card-header>
                    <ion-card-subtitle>Treino</ion-card-subtitle>
                    <ion-card-title>{{ treino.titulo }}</ion-card-title>
                </ion-card-header>
                <!-- - <ion-img [src]="serviceUrl.getUrl() + exercicio.foto"></ion-img> -->
            </a>
            <ion-row>
                <ion-col>
                    <ion-chip
                        color="primary"
                        (click)="editTreino(treino)"
                    >
                        <ion-icon
                            name="create"
                            color="primary"
                        ></ion-icon>
                        <ion-label>Editar</ion-label>
                    </ion-chip>
                </ion-col>
                <ion-chip
                    color="danger"
                    (click)="deleteTreino(treino)"
                >
                    <ion-icon
                        name="trash"
                        color="danger"
                    ></ion-icon>
                    <ion-label>Apagar</ion-label>
                </ion-chip>
            </ion-row>

        </ion-card>
    </div>
    <ion-fab
        vertical="bottom"
        horizontal="end"
        slot="fixed"
    >
        <ion-fab-button
            color="danger"
            (click)="toProdutos()"
        >
            <ion-icon name="grid"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
