<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Início</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-subtitle>Planos de Treino</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <p>
                "Não nasci pra competir com os outros, nasci para superar a mim mesmo."
            </p>
        </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-subtitle>Meu Peso</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <p>Meta</p>
        </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-subtitle>Meu Corpo</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <p>Meta</p>
        </ion-card-content>
    </ion-card>

    <ion-list lines="none">
        <ion-list-header>
            <ion-label></ion-label>
        </ion-list-header>

    </ion-list>
</ion-content>
